# Postgres
POSTGRES_USR="your_postgres_user"
POSTGRES_PWD="your_postgres_password"
POSTGRES_DB="your_database_name"
POSTGRES_URL="postgres://${POSTGRES_USR}:${POSTGRES_PWD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"

# Traefik
CF_DNS_API_TOKEN="your_cloudflare_token"
ACME_EMAIL="your_email@example.com"
DOMAIN="yourdomain.com"

# Atuin
ATUIN_DB_USERNAME="atuin_user"
ATUIN_DB_PASSWORD="atuin_password"
ATUIN_DB_NAME="atuin_db"
ATUIN_SUBDOMAIN="atuin"

# Miniflux
MINIFLUX_DB_USERNAME="miniflux_user"
MINIFLUX_DB_PASSWORD="miniflux_password"
MINIFLUX_DB_NAME="miniflux_db"
MINIFLUX_USERNAME="miniflux_admin"
MINIFLUX_PASSWORD="miniflux_admin_password"
MINIFLUX_SUBDOMAIN="miniflux"

# OTEL COLLECTOR
OTEL_POSTGRES_USERNAME="otel_collector_user"
OTEL_POSTGRES_PASSWORD="otel_collector_password"

# Prometheus
PROMETHEUS_SUBDOMAIN="prometheus"

# Grafana
GRAFANA_DB_USERNAME='grafana_db_user'
GRAFANA_DB_PASSWORD='grafana_db_password'
GRAFANA_DB_NAME='grafana'
GRAFANA_SUBDOMAIN="grafana"
